In [22]:
#dependencies
import pandas as pd
import numpy as np
import random
#
import json
import requests
from config import api_opw1

In [4]:
#cities
cities_df = pd.read_csv('worldcities.csv')
cities_df.head(5)

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [5]:
#random 550
high = len(cities_df["Country"])
#print(high)

cities_num = []
cities_num = np.random.randint(1,high,550).tolist()
#cities_num

In [63]:
#random cities
lats = []
lons = []
for i in cities_num:
    lat = cities_df["Latitude"][i]
    lon = cities_df["Longitude"][i]
    lats.append(lat)
    lons.append(lon)
    
latq = lats[2]
lonq = lons[2]
print(f"{latq} {lonq}")

54.605211 18.235514000000002

In [53]:
#weather
url = "https://api.openweathermap.org/data/2.5/weather?"
query = f"lat={latq}&lon={lonq}&appid={api_opw1}&units=imperial"
query_url = f"{url}{query}"
#print(lats[2])
#print(lonq)
#print(query_url)

response = requests.get(query_url).json()
response

a8449cb2258ef2c558e6a4a83bcb627f
54.605211
18.235514000000002
https://api.openweathermap.org/data/2.5/weather?lat=54.605211&lon=18.235514000000002&appid=a8449cb2258ef2c558e6a4a83bcb627f&units=imperial

{'coord': {'lon': 18.2355, 'lat': 54.6052},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 73.74,
  'feels_like': 73.96,
  'temp_min': 69.67,
  'temp_max': 76.66,
  'pressure': 1009,
  'humidity': 67,
  'sea_level': 1009,
  'grnd_level': 1005},
 'visibility': 10000,
 'wind': {'speed': 6.29, 'deg': 129, 'gust': 7.72},
 'clouds': {'all': 55},
 'dt': 1625498279,
 'sys': {'type': 1,
  'id': 1696,
  'country': 'PL',
  'sunrise': 1625451528,
  'sunset': 1625513047},
 'timezone': 7200,
 'id': 3082473,
 'name': 'Wejherowo',
 'cod': 200}

In [65]:
temp = response["main"]["temp"]
hum = response["main"]["humidity"]
cloud = response["clouds"]["all"]
wind = response["wind"]["speed"]
name = response["name"]
cod = response["cod"]

print(temp)
print(hum)
print(cloud)
print(wind)
print(name)
print(cod)
print(latq)
print(lonq)

73.74
67
55
6.29
Wejherowo
200
54.605211
18.235514000000002